/* Custom CSS */
    /*Font families*/
    /*Main text elements*/
    /*Main backgrounds*/
    /*Sidebar, menus and logos*/
    /*Table of contents*/
    /*Images*/
    /*Clearfix hack for articles*/
    /*En-têtes*/
    /*Pages listes*/
    /*Map*/
    /*Contact page*/
    /*Related*/
    /*Reste*/
    /*Isotope-style filtering*/
    /*Homepage*/

/*Font families*/
@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+SC|Fredericka+the+Great|Mansalva|Oswald&display=swap');
.oswald {
  font-family: Oswald;
}
.mansalva {
  font-family:Mansalva;
}
.alegreya {
  font-family:Alegreya;
}
.alegreyasc {
  font-family: "Alegreya SC"
}
.fred {
  font-family:"Fredericka the Great";
}

/*Main text elements*/
h1 {
    font-family:"Oswald";
    color:#333;
    padding:1rem;
}
h2 {
    font-family:"Alegreya SC";
    font-size:2.25rem;
    font-weight:initial;
    color:#333;
    margin-left:-50%;
    padding:0 5% 0 50%;
    border-bottom:solid #fdfd00 .5rem;
    display:block;
}
h3,
.summary {
    font-family:"Alegreya SC";
    font-weight:initial;
}
article h3 {
  font-size:2rem;
  border-bottom:solid;
  color:#333;
  text-align:center;
}
h4 {
  font-family:"Alegreya SC";
  font-size:1.5rem;
  text-align:center;
  color:#333;
  text-shadow: -1px 1px 0px white;
}
@media screen and (max-width:30em) {
  h4 {
    font-size:1.25rem;
  }
}
figure h4 {
  font-size:1.25rem;
  color:#333;
  font-family:Alegreya;
  text-shadow: none;
}
h5 {
  font-family:"Alegreya SC";
  font-size:1.5rem;
  text-align: center;
  margin:0;
}
h6 {
  font-family:"Oswald";
  text-align:center;
}
p,
article ul {
    font-family:"Alegreya";
    text-align:justify;
    color:#333;
    font-size:1.25rem;
}
blockquote {
    background:url(/images/hip-square.png);
    padding:1rem 2rem;
    border-left:none !important;
    box-shadow: 0px 0px 10px grey;
}
@media screen and (max-width:60em) {
  blockquote {
    margin:0 !important;
  }
}
blockquote p {
    font-family:"Mansalva";
    font-size:1.25rem;
}
.categoryname {
  font-family:Mansalva;
  letter-spacing: 1rem;
}
/*Main backgrounds*/
.bg-debord,
.realarticle {
    background-color:rgba(223,227,236,0.8);
}
body,
.bg-map {
  background-image:url(/images/photo-site-debord-V2.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.bg-concrete {
  background:url(/images/vintage-concrete.png);
  background-size:auto;
}
.bg-dash {
  background-image:url(/images/dashdebordyellow.svg);
  background-size: contain;
  background-position: center;
  background-repeat:no-repeat;
}
body {
  overflow-x:hidden;
}
/*Sidebar, menus and logos*/
.sidebar {
    box-shadow: 0px 0px 10px grey;
    font-family: "Alegreya SC";
    z-index:50;
    position:sticky;
    top:0px;
}
@media screen and (min-width:60em) {
  .sidebar {
    position:fixed;
    width:20%;
  }
}
.sidebar hr {
    margin:0;
}
.mainmenu {
  border-top:solid #dfe3ec;
  border-bottom:solid #dfe3ec;
  height:fit-content;
}
.logodash {
  z-index:-1;
}
@media screen and (max-width:60em) {
  nav {
    display:flex;
    overflow:hidden;
    max-height:6rem;
  }
  .logodash {
    align-self:start;
    margin-top:0;
  }
  .menubutton {
    cursor:pointer;
    transition: all .2s ease-out;
    text-decoration:underline;
  }
  .menubutton:hover {
    transform:scale(1.3);
    transition: all .2s ease-out;
  }
  .mainmenu {
    max-height:0;
    top:6rem;
    position:fixed;
    overflow:hidden;
    text-align:center;
    left:0;
    transition: max-height .2s ease-out;
    background:white;
  }
  #menumobile:checked ~ .mainmenu {
    max-height:90vh;
    transition: max-height .2s ease-out;
  }
}
.bottomaddress {
  bottom:0;
}
.bottomaddress p {
  margin-top:0;
  margin-bottom:0;
  text-align:center;
  font-size:.875rem;
  z-index:5;
}
/*Table of contents*/
@media screen and (max-width:60em) {
  .tocblock {
    display:none;
  }
}
.toc {
  max-height: calc(100vh - 31rem);
}
.toc-list {
  font-size:1rem;
}
.toc-list li {
  padding:.25rem 0;
}
.is-active-li {
  background:#dfe3ec;
  transition: ease-in background .2s;
}
.categoryactive {
  text-decoration:underline .2rem;
}

/*Images*/
figure,
.gallery,
#animsvg {
    margin:2rem 0rem;
    background:white;
    border-radius:5px;
    box-shadow:0px 0px 5px gray;
}
.gallery figure {
  box-shadow:none;
  margin:1rem;
  border-radius: 0;
  padding:0;
}
figure,
#animsvg {
  padding:1rem;
}
@media screen and (min-width:30rem) {
  figure,
  #animsvg {
    margin:2rem;
  }
}
.fl {
  margin-left:0;
  margin:1rem 2rem 1rem 0;
}
.fr {
  margin-right:0;
  margin:1rem 0rem 1rem 2rem;
}
@media screen and (min-width:60em) {
  .doublepic {
    width:47%;
    margin-left:0;
    margin-right:0;
  }
}
.gallery-image {
  margin:1rem;
}
.gallery {
  width:100%;
}
figcaption {
    text-align:center;
}
figcaption h4 {
  margin-bottom:0;
}
@media screen and (min-width:30em) {
  .imgandcaption {
    display:flex;
    align-items: center;
  }
  .imgandcaption figure,
  .imgandcaption p,
  .imgandcaption ul {
    width:100%;
  }
}
/*Clearfix hack for articles*/
h3:before,
h2:before,
.gallery:before,
blockquote:before,
.button:before
 {
  content:"";
  display:table;
  clear:both;
}

/*En-têtes*/
@media screen and (min-width:60em){
  header,
  main,
  footer,
  .prefooter,
  .homeheader {
    margin-left:20%;
    width:80%;
  }
}
.headerfeaturedimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.bordy {
    background-size: contain !important;
    background-color:white;
}

.mainheader {
  background-color:rgba(223,227,236,0.3);
}
.rue {
  width:12rem;
  height:10rem;
  filter: drop-shadow(0px 0px 2px gray);
}
.mapandpic {
  border-image: url(/images/metal.jpg) 135 5 / 2em repeat;
  padding: 2rem 0rem;
  box-shadow: 0px 0px 20px gray;
}
.topipn {
  border-image: url(/images/metal.jpg) 135 5 0 5 / 2em repeat;
  padding:2rem 0rem 0rem;
}
.bottomipn {
  border-image: url(/images/metal.jpg) 0 5 135 5 / 2em repeat;
  box-shadow: inset 0 -2rem 1rem gray;
}
.sideipn {
  border-image: url(/images/metal3.jpg) 5 135 / 2em repeat;
  padding:2rem 0rem 0rem;
}
.separateheadmain {
  border-bottom: solid 1.5rem lightblue;
}
.separateheadmainhome {
  padding-top:33%;
}
.bloctitre {
  text-shadow:0px 0px 5px white;
}
footer div {
  background-image:url(/images/charrette.webp);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  font-size:1rem;
  margin-bottom:0;
}
/*Pages listes*/
.masonry {
  column-count: 3;
  column-gap: 2rem;
  -webkit-perspective:1;
}
@media screen and (min-width:30em) and (max-width:60em) {
  .masonry {
    column-count: 2;
    -webkit-perspective:1;
  }
}
@media screen and (max-width:30em) {
  .masonry {
    column-count: 1;
    -webkit-perspective:1;
  }
}
.card {
  background-image:url(/images/reallogo.svg);
  background-size:66%;
  background-repeat:no-repeat;
  background-position:bottom right;
  break-inside:avoid-column;
}
.cardtext {
  background:rgba(255, 255, 255, 0.8);
}
.cardtitle {
  font-family:"Alegreya SC";
  font-size:1.5rem;
  box-shadow:none;
  margin:0;
  border-radius:0;
  border-left:solid 1rem #fdfd00;
  padding:.3rem .3rem 1rem 0rem;
}
.cardimage {
  border-radius:1rem 1rem 0 0;
  max-height:20rem;
  object-fit: cover;
}
.nomdecode {
    position: relative;
}
.nomdecode span {
    background: #dfe3ec;
    border-radius: .75rem;
}
/*Map*/
.mapiframe {
  border-top:solid 1rem #fdfd00;
}
iframe {
  box-shadow:0px 0px 5px #333;
}

/*Contact page*/
.fourcontacts {
  display:flex;
  flex-wrap:wrap;
  grid-gap:2rem;
}
@media screen and (max-width:30rem) {
  .fourcontacts {
  }
}
.onecontact h3 {
  margin-top:0;
  margin-left:0;
  margin-bottom:0;
  padding:.5rem;
  width:100%;
  text-align:center;
  border-left:solid 1rem #fdfd00;
  border-bottom:none;
}
.onecontact {
  max-width:15rem;
  box-shadow: 0 0 4px 2px rgba(0,0,0,.2);
  background:white;
  border-radius:10px;
}
.onecontact p {
  text-align:center;
  margin-bottom:0;
  margin-top:0;
}
.onecontact p a {
  text-decoration:none;
  font-size:1.5rem;
  color:#333;
}
.photocontact {
    border-radius:10px 10px 0 0;
}

/* Related */
.relatedtitle {
  margin:0;
  border-bottom:solid #dfe3ec;
  border-left:solid 1rem #fdfd00;
}
.related h4 {
  border-bottom:solid 1rem #fdfd00;
}
.related {
  background: linear-gradient(to top, transparent, gray);
}

/*Reste*/
.charrette {
  margin-right:0;
  margin-left:auto;
  display:block;
  right:0;
}
.button {
  transition: 0.5s;
  width:fit-content;
  margin:auto;
  border-bottom:solid;
}
.button:hover {
  transform:scale(0.98);
}
.backtoparent {
  background: rgba(255, 255, 0, 0.6);
  border-bottom: solid .1rem;
  border-top: solid .1rem;
}

/*Isotope-style filtering*/

.filterblock {
    display:none;
}

input[type="radio"] {
  display:none;
}
.filters label {
  cursor:pointer;
}
.filters label:hover {
  background: lightblue;
}
[value="All"]:checked ~ section div.mediumcard [data-category] {
  display:inline-block;
}
[value="All"]:checked ~ ul [for="All"] {
  background: lightblue;
  box-shadow: inset 0px 0px 10px gray;
  transition: .5s;
}
.filters label {
  padding:.5rem;
  transition: .5s;
  border-radius:1rem;
  margin-right:.5rem;
  margin-bottom:.5rem;
  background: white;
}
@media screen and (max-width:60em) {
  .filters label {
    padding:.5rem;
  }
}
/* More Tachyons styles */
@media screen and (min-width:60em) {
  .w-48-l {
    width:48%;
  }
}

/*Homepage*/
.headlogo {
  position:absolute;
}
.homearticle {
  position:relative;
  z-index:2;
}
.homeh2 {
  margin-left:0;
  padding:0;
  display: block;
  font-size:2.25rem;
}
.homearticle h4 {
  letter-spacing: .1rem;
  padding-bottom:2rem;
}
.homearticle p,
.homearticle ul {
  max-width:34em;
  margin-left:auto;
  margin-right:auto;
  padding-left: 2rem;
  padding-right:2rem;
}
.homearticle ul {
  padding-left:4rem;
}
.homearticle figure {
  max-width:22em;
}
.homearticle h1 {
  text-align:center;
  border-bottom: solid 1rem #fdfd00;
  margin-bottom:0;
}
.photowall {
  display: flex;
  flex-wrap:wrap;
  height:100%;
}
@media screen and (max-width:30em) {
  .photowall {
    display:none;
  }
}
.appel {
  border-top:solid lightblue .5rem;
  border-bottom:solid lightblue .5rem;
}
.appel h1 {
  margin-bottom: 2rem;
}
