{{ $featured_image := .Params.featured_image }}
<article class="cover mw5">
  <a href="{{.Permalink}}" class="color-inherit link">
    <div class="flex flex-column shadow-1">
      {{ if .Params.featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        {{ $featured_image := (trim $featured_image "/") | absURL }}
        <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
        <h1 class="relatedtitle f3 tc fw1 lh-title">
          {{ .Title }}
        </h1>
      {{ end }}
    </div>
  </a>
</article>
