<nav class="h-100 sidebar contain-l bg-white" role="navigation">
  <img src="/images/logodashdebord2.svg" class="logodash mw4 mw6-l w-100-ns w-70 absolute-l">
  <div class="pa2 pa3-ns flex flex-column-l flex-row justify-between center">
    <a href="{{ .Site.BaseURL }}" class="f3 fw2 mh3-l hover-white no-underline dib mw4 mw5-l" style="padding-top:60%;">
        <h6 class="black mb0 dn db-l mt0">{{ .Site.Params.description}}</h6>
    </a>
    <input type="checkbox" id="menumobile" class="dn"/>
    <label for="menumobile" class="dn-l fixed pa4 top-0 right-1 f4 menubutton">Menu</label>
    <div class="db-l w-100 mv3-l mainmenu">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="flex flex-column flex-wrap w-100 pl0 pb3 pb0-l mv0 mv3-l">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          <li class="list f3 mh0-l fw4 pa3 pa0-l dib">
            <a class="dark-gray b no-underline {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} categoryactive {{end}}" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          {{ if (and (or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)) ( $currentPage.Params.toc)) }}
            <div class="tocblock pl2 dark-gray mt2">
              <div class="toctitle alegreyasc mb2 b f4">{{ $currentPage.Title }}</div>
              <div class="js-toc toc alegreya tl f5"></div>
            </div>
          {{end}}
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
  <div class="bottomaddress bg-white center w-100 tracked-mega absolute pa3 dn dib-l">
    <p>1, rue Henri Martin</p>
    <p>92000 BOULOGNE</p>
    <a href="tel:0146205159">
      <p>01 46 20 51 59</p>
    </a>
    <a href="mailto:debord@debord.fr">
      <p>debord@debord.fr</p>
    </a>
    <div class="flex pt3"> <a href="/pdf/Certificat_Qualibat_2022.pdf" class="center"><img style="width:3.5rem" src="/images/logoqualibat.webp"></a> </div>
  </div>
</nav>
