{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
  <script src="{{ relURL (printf "%s%s" "dist/" .) }}"></script>
{{ end }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
  <script>
    tocbot.init({
      tocSelector: '.js-toc',
      contentSelector: 'article',
      headingSelector: 'h2, h3',
      hasInnerContainers: true,
      scrollSmooth: true,
      scrollSmoothDuration: 420,
      extraLinkClasses: 'no-underline',
  });
  </script>
