<footer class="bg-debord flex items-bottom bottom-0 ph4-l" role="contentinfo">
      <div class="fw4 center pt5 pb4 pt6-l pb5-l w-100 tc tracked-mega alegreya dark-gray no-underline dib">
        <p class="tc f5">&copy; {{ with .Site.Copyright | default .Site.Title }} {{ now.Format "2006"}}  Debord SAS  {{ end }}</p>
       </div>
</footer>
