{{ define "main" }}
{{ partial "homelogo.html" . }}
<div class="separateheadmainhome">
  <article class="homearticle cf f4 center lh-copy dark-gray">
    {{ .Content }}
  </article>
</div>

{{ end }}
