<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{/* NOTE: the Site's title, and if there is a page title, that is set too */}}
    <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    {{ hugo.Generator }}
    {{/* NOTE: For Production make sure you add `HUGO_ENV="production"` before your build command */}}
    {{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production")  }}
      <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    {{ else }}
      <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    {{ end }}

    {{ $stylesheet := .Site.Data.webpack_assets.app }}
    {{ with $stylesheet.css }}
      <link href="{{ relURL (printf "%s%s" "dist/" .) }}" rel="stylesheet">
    {{ end }}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css">
    {{ range .Site.Params.custom_css }}
      <link rel="stylesheet" href="{{ relURL ($.Site.BaseURL) }}{{ . }}">
    {{ end }}

    {{ block "favicon" . }}
      {{ partialCached "site-favicon.html" . }}
    {{ end }}

    {{ if .OutputFormats.Get "RSS" }}
    {{ with .OutputFormats.Get "RSS" }}
      <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
      <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
      {{ end }}
    {{ end }}

  </head>

  <body class="ma0 {{ if .IsHome}}homepage {{ end }}{{ $.Param "body_classes"  | default "bg-debord"}}{{ with getenv "HUGO_ENV" }} {{ . }}{{ end }}">

    {{ partial "site-navigation.html" .}}
    {{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}

    <main class="{{ if .IsHome }}homemain bg-debord {{ end }}" role="main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ $related := .Site.RegularPages.Related . | first 3 }}
    {{ with $related }}
    <div class="bg-debord prefooter">
      <h4 class="pv3 ma0 bg-white">Ces articles pourraient aussi vous intéresser…</h4>
      <ul class="pa0 mv0 justify-center related flex flex-wrap">
          {{ range . }}
          {{- partial "summary.html" . -}}
          {{ end }}
      </ul>
    </div>
    {{ end }}

    {{ block "footer" . }}{{ partialCached "site-footer.html" . }}{{ end }}
    {{ block "scripts" . }}{{ partialCached "site-scripts.html" . }}{{ end }}
  </body>
</html>
