<div id="animsvg">
  <h4 class="mt2">{{ .Get "title" }}</h4>
  {{$animsvg := .Get "src"}}
  {{$animsvgduration := .Get "duration"}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.5/vivus.min.js"></script>
  <script>
    new Vivus('animsvg', { type: 'oneByOne', duration: {{ $animsvgduration }}, file: {{ $animsvg }} });
  </script>
</div>
