{{ $src := .Get "src" }}
{{ $msg := .Get "msg" }}
<div class="pa3 pa4-ns w-100 center">
      <a href={{ $src }} class="button no-underline db center mh5 tc f3-ns f4 pa3 mt3 mansalva dark-gray">{{ $msg }}</a>
</div>
